body {
  background-color: #d4ebd0;

}

hr {
  border-color: #85a392;
  border-style: dotted none none;
  border-width: 9px;
  width: 8%;

}

img {

  height: 340px;
  width: 340px;
}
h1{
  color: #30475e;
}
h3{
  color: #30475e;
}
